h1 {
  width: fit-content;
  background-color: #2b2b2b;
  color: white;
  margin: 250px auto;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 30px;
  position: relative;
  box-shadow: 5px 5px 14px black;
  transition: 300ms;
}
h1:hover {
  transform: rotate(100turn);
  color: #2b2b2b;
}
